#!/bin/bash

# make a directory then cd into it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Visualize traceroute
function traceroute-mapper {
  open "https://stefansundin.github.io/traceroute-mapper/?trace=$(traceroute -q1 $*)"
}

function dev {
  source /opt/dev/dev.sh
  dev $@
}

function update-kubeconfig {
  gsutil cp gs://cluster-info/kubeconfig.yml $HOME/.kube/config.shopify.cloudplatform
}
