#!/bin/bash

# make a directory then cd into it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Visualize traceroute
function traceroute-mapper {
  open "https://stefansundin.github.io/traceroute-mapper/?trace=$(traceroute -q1 $*)"
}
